.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #343a40; 
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.link:hover {
  color: #ccc;
}

.welcome {
  color: #ffffff;
  margin-right: 15px;
  font-size: 1rem;
}
